/* You can add global styles to this file, and also import other style files */

:root {
  --ford-blue: #203B6D;
  --ford-blue-light: #3050A0;
  --ford-blue-dark: #162950;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
   
}


